<div class="flex justify-center items-center w-full h-screen bg-white">
  <div class="container mx-auto my-4 px-4 lg:px-20">
    <div class="p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl">
      <div class="flex">
        <h1 class="uppercase text-4xl">Write Todo</h1>
      </div>
      <hr/>
      <br/>
      <%= render "form", todo: @todo %>
    </div>
  </div>
</div>